name: Publish to NPM (Pre-release + Release)

on:
  # Manual trigger for pre-releases
  workflow_dispatch:
    inputs:
      version:
        description: "The version to publish (format: x.x.x-pre.x)"
        required: true
        type: string

  # Automatic publish for tagged releases
  push:
    tags:
      - "v*"

jobs:
  publish:
    uses: soos-io/.github/.github/workflows/npm-publish-workflow.yml@main
    with:
      version: ${{ inputs.version }}
